name: Build branch

on:
  push:
    branches:
      - '*'
      - '*/*'
      - '!master'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: 'Java 11'
      uses: actions/setup-java@v1.4.3
      with:
        java-version: 11

    - name: 'Bygg og publiser docker image'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        export TZ=CET
        ./gradlew build