name: Release new version

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: 'Pull repo'
        uses: actions/checkout@v2

      - name: 'Sett opp bruker i git'
        run: git config user.email "${{ github.actor }}@users.noreply.github.com" && git config user.name "Github Actions"

      - name: 'Hent versjonsnummer for release fra gradle.properties'
        run: echo "VERSION=$(grep -v '^#' gradle.properties | grep 'version=' | cut -d '=' -f2 | xargs)" >> $GITHUB_ENV

      - name: 'Java'
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: temurin

      - name: 'Bygg og oppdater versjon'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew build release --stacktrace -Prelease.useAutomaticVersion=true

      - name: 'Sjekk ut release'
        uses: actions/checkout@v3
        with:
          ref: "release-${{ env.VERSION }}"

      - name: 'Publiser release som maven-pakke'
        run: ./gradlew publish --stacktrace
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
